.selected-task-container {
  background-color: rgb(8, 156, 255);
  box-shadow: 0px 0px 2px #444;
  border-radius: 16px;
  padding: 4px 10px 4px 12px;
  font-weight: bold;
}

.selected-task-container::before {

}

.selected-task-time {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 2px #444;
  border-radius: 10px;
  color: #000;
  margin-left: 10px;
  padding: 0px 2px 0px 2px;
  margin-bottom: 0;
}

.simple-badge {
  display: flex;
  background-color: #3e3;
  border-radius: 16px;
  padding: 0px 10px;
  font-weight: bold;
  color: #fff;
  position: relative;
  top: -50px;
}